div#slidersdiv
    p link distance:
    div#slider-ld(class="slider")
    p charge:
    div#slider-c(class="slider")
    p charge Distance:
    div#slider-cd(class="slider")
    p gravity:
    div#slider-grav(class="slider")
      
div#addNodeDiv
    input#
